<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/trial.css">
<link rel="stylesheet" type="text/css" href="stylesheets/funky.css">

</head>
<body>


  <div class="container-fluid" >

    <div class="row">
        <h6><a href="/" style="margin-left:15px;">Home</a> / <a href="/#"><%=data[0].categories%></a> / <%=data[0].company%>  </h6>

      <div class="medium-6 columns">
        <img class="thumbnail" src="https://image.ibb.co/iPcnxk/t2.jpg">
        <div class="row small-up-4">
          <div class="column">
            <img class="thumbnail" src="https://image.ibb.co/nGsy3Q/t1.jpg">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://image.ibb.co/kt8cxk/CWB198_Aa_gallery_05_1.jpg">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://image.ibb.co/nGsy3Q/t1.jpg">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://image.ibb.co/nGsy3Q/CWB198_Aa_gallery_05_1.jpg">
          </div>
        </div>
      </div>
      <div class="medium-6 large-5 columns">
        <h2><%= data[0].company%></h2>
          <p>用戶評價:
            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
            </i><i class="fa fa-star"></i>
          </p>

          <p><h4>平均消費:</h4><h3 style="color:red">$100-$150</h3></p>

          <p><h4>地址:</h4><h5><%= data[0].address%></h5></p>



</br></br>

        <a href="#" type="button" class=" fa fa-heart-o btn btn-danger btn-group-justified" >   加入最愛</a>
      </br></br>
      <div class="center">

              <a href="" class="glyphicon-ring glyphicon-white" style="text-decoration: none"> <span class="glyphicon glyphicon-pencil glyphicon-bordered"></span>
              </a>

        </div>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">店舖簡介</a></li>
        <li class="tabs-title"><a href="#panel2">價目一覽</a></li>
        <li class="tabs-title"><a href="#panel3">評論</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <!-- reserved -->
        <div class="tabs-panel is-active" id="panel1">
          <div class="row medium-up-3 large-up-5">
            <div class="column">
            <h3>商店</h3>
          </div>
          </div>
        </div>
        <!-- reserved -->
        <div class="tabs-panel" id="panel2">
          <div class="row medium-up-3 large-up-5">
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small>$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- panel3 -->
        <div class="tabs-panel" id="panel3">
          <h4>Reviews</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <label>
            My Review
            <textarea placeholder="None"></textarea>
          </label>
          <button class="button">Submit Review</button>
        </div>
        <!-- panel3 -->
      </div>
    </div>

    <div class="row column">
      <hr>
      <ul class="menu">
        <li>Yeti Store</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="float-right">Copyright 2016</li>
      </ul>
    </div>

</div>


</body>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>

</html>
