<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="../stylesheets/jquery.nice-select.js"></script>
<link rel="stylesheet" href="../stylesheets/nice-select.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/css/article-lists/article-list-basic.css">
  <script src="../stylesheets/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/jquery-ui.css">
<script src="../stylesheets/jquery.typeahead.min.js"></script>
<link rel="stylesheet" href="../stylesheets/jquery.typeahead.min.css">

<link rel="stylesheet" type="text/css" href="../stylesheets/style2.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
</head>
<body onload="myFunction()" style="margin:0;">


          <div class="wrapper">

              <!-- Sidebar Holder -->
              <nav id="sidebar">
                  <div class="sidebar-header">
                      <h3>Bootstrap Sidebar</h3>
                  </div>

                  <ul class="list-unstyled components">
                      <p>Dummy Heading</p>
                      <li class="active">
                          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                          <ul class="collapse list-unstyled" id="homeSubmenu">
                              <li><a href="#">Home 1</a></li>
                              <li><a href="#">Home 2</a></li>
                              <li><a href="#">Home 3</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">About</a>
                          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                          <ul class="collapse list-unstyled" id="pageSubmenu">
                              <li><a href="#">Page 1</a></li>
                              <li><a href="#">Page 2</a></li>
                              <li><a href="#">Page 3</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Portfolio</a>
                      </li>
                      <li>
                          <a href="#">Contact</a>
                      </li>
                  </ul>

              </nav>
              <div class="topnav" id="myTopnav" style=" width:1190px;">
                <a href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="mFunction()">&#9776;</a>
              </div>
  <div id="content" >

  <div id="loader"></div>
  <div class="container animate-bottom" id="product-section"  style="display:none;">
    <div class="row">
           <h6><a href="/" style="margin-left:15px;">Home</a> / <a href="/#"><%=data[0].categories%></a> / <%=data[0].company%>  </h6>
      <div class="col-md-6">
        <div class="slideshow-container">
       <div class="mySlides">
         <div class="numbertext">1 / 3</div>
         <img src="https://c93fea60bb98e121740fc38ff31162a8.s3.amazonaws.com/wp-content/uploads/2016/02/500startups.png" style="width:100%">
         <div class="text">Caption Text</div>
       </div>

       <div class="mySlides">
         <div class="numbertext">2 / 3</div>
         <img src="https://c93fea60bb98e121740fc38ff31162a8.s3.amazonaws.com/wp-content/uploads/2016/02/500startups.png" style="width:100%">
         <div class="text">Caption Two</div>
       </div>

       <div class="mySlides">
         <div class="numbertext">3 / 3</div>
         <img src="https://c93fea60bb98e121740fc38ff31162a8.s3.amazonaws.com/wp-content/uploads/2016/02/500startups.png" style="width:100%">
         <div class="text">Caption Three</div>
       </div>

       <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
       <a class="next" onclick="plusSlides(1)">&#10095;</a>
     </div>
     <br>

     <div style="text-align:center">
       <span class="dot" onclick="currentSlide(1)"></span>
       <span class="dot" onclick="currentSlide(2)"></span>
       <span class="dot" onclick="currentSlide(3)"></span>
     </div>
  </div>
  <div class="col-md-6">
<div class="row">
<div class="col-md-12">
<h1><%-data[0].company%></h1>
</div>
</div><!-- end row-->
<div class="row">
 <div class="col-md-12">
   <br>
  <span class="label label-primary">Vintage</span>
  <span class="monospaced">No. 1960140180</span>
 </div>
</div><!-- end row -->
<div class="row">
 <div class="col-md-12">
   <br>
  <p class="description">
   Classic film camera. Uses 620 roll film.
   Has a 2&frac14; x 3&frac14; inch image size.
  </p>
 </div>
</div><!-- end row -->
<div class="row">
 <div class="col-md-4">
  <span class="sr-only">Four out of Five Stars</span>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
  <span class="label label-success">61</span>
 </div>
 <div class="col-md-3">
  <span class="monospaced">Write a Review</span>
 </div>
</div><!-- end row -->
<div class="row">
 <div class="col-md-12 bottom-rule">
  <h2 class="product-price">$129.00</h2>
 </div>
</div><!-- end row -->

<div class="row add-to-cart">
 <div class="col-md-5 product-qty">
  <span class="btn btn-default btn-lg btn-qty">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </span>
  <input class="btn btn-default btn-lg btn-qty" value="1" />
  <span class="btn btn-default btn-lg btn-qty">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
  </span>
 </div>
 <div class="col-md-4">
  <button class="btn btn-lg btn-brand btn-full-width">
   Add to Cart
  </button>
 </div>
</div><!-- end row -->

<div class="row">
 <div class="col-md-4 text-center">
  <span class="monospaced">In Stock</span>
 </div>
 <div class="col-md-4 col-md-offset-1 text-center">
  <a class="monospaced" href="#">Add to Shopping List</a>
 </div>
</div><!-- end row -->
<div class="row">
 <div class="col-md-12 bottom-rule top-10"></div>
</div><!-- end row -->

<div class="row">
 <div class="col-md-12 top-10">
  <p>To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
 </div>
</div><!-- end row -->
<ul class="nav nav-tabs" role="tablist">
 <li role="presentation" class="active">
  <a href="#description"
   aria-controls="description"
   role="tab"
   data-toggle="tab"
  >Description</a>
 </li>
 <li role="presentation">
  <a href="#features"
   aria-controls="features"
   role="tab"
   data-toggle="tab"
  >Features</a>
 </li>
 <li role="presentation">
  <a href="#notes"
   aria-controls="notes"
   role="tab"
   data-toggle="tab"
   >Notes</a>
 </li>
 <li role="presentation">
  <a href="#reviews"
   aria-controls="reviews"
   role="tab"
   data-toggle="tab"
  >Reviews</a>
 </li>
</ul>
<div class="tab-content">
 <div role="tabpanel" class="tab-pane active" id="description">
  ...1
 </div>
 <div role="tabpanel" class="tab-pane top-10" id="features">
  ...2
 </div>
 <div role="tabpanel" class="tab-pane" id="notes">
  ...3
 </div>
 <div role="tabpanel" class="tab-pane" id="reviews">
  ...4
 </div>
</div>
    </div><!-- end row -->
   </div>
 </div><!-- end container -->
 </div>
 </div>
 <script>
 $(document).ready(function () {

    $('#sidebar').niceScroll({
        cursorcolor: '#53619d', // Changing the scrollbar color
        cursorwidth: 4, // Changing the scrollbar width
        cursorborder: 'none', // Rempving the scrollbar border
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });

});
 </script>
 <script>
function mFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<script>
function myFunction() {
    setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("product-section").style.display = "block";
}
</script>

</body>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" ative", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " ative";
}

</script>

</html>
