<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="form-body">
            <ul class="nav nav-tabs final-login">
                <li class="active"><a data-toggle="tab" href="#sectionA">用戶登入</a></li>
                <li><a data-toggle="tab" href="#sectionB">帳戶註冊</a></li>
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                <div class="innter-form">
                    <form action="/login" class="sa-innate-form" method="post">
                    <label>帳戶／電子郵件</label>
                    <input type="text" name="username">
                    <label>密碼</label>
                    <input type="password" name="password">
                    <button type="submit">登入</button>
                    <a href="">忘記密碼?</a>
                    </form>
                    </div>
                    <div class="social-login">
                    <p>- - - - - - - - - - - - - Sign In With - - - - - - - - - - - - - </p>
            		<ul>
                    <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
                    <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
                    </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="sectionB" class="tab-pane fade">
        			<div class="innter-form">
                    <form class="sa-innate-form" method="post">
                    <label>Name</label>
                    <input type="text" name="username">
                    <label>Email Address</label>
                    <input type="text" name="username">
                    <label>Password</label>
                    <input type="password" name="password">
                    <button type="submit">Join now</button>
                    <p>By clicking Join now, you agree to hifriends's User Agreement, Privacy Policy, and Cookie Policy.</p>
                    </form>
                    </div>
                    <div class="social-login">
                    <p>- - - - - - - - - - - - - Register With - - - - - - - - - - - - - </p>
        			<ul>
                    <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
                    <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
      </div>
    </div>

  </div>
</div>
